# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environments
.venv/
env/
venv/

# Environment & secrets
.env
*.env

# Local storage
database.db
storage/
instance/

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
*.swp
